$base-color: #888;
$background: #080808;
$foreground: #CCC;
$main: #222;
$shadow: #161616;
$highlight: #333;
$highlight-more: #555;
$gradient1-1: $highlight-more;
$gradient1-2: $highlight;
$gradient1-3: $shadow;
